@model IEnumerable<CIU.Models.Soap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>*Note the amount showed below is in Canadian Dollars(CAD)*</p>
<br />
<p>The Rating is out of 5.<br />
    for example:<ul>
    <li>1: Very Bad</li>
    <li>2: Bad</li>
    <li>3: Average</li>
    <li>4: Good</li>
    <li>5: Very Good</li>
</ul></p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotteryTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership_Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Normal_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotteryTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membership_Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Normal_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Members_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
